
html, body {
    overflow-x: hidden;
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 0;
}
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out 0s;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }
    .row-offcanvas-right.active {
        right: 50%;
    }
    .row-offcanvas-left.active {
        left: 50%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }
}
